{% extends 'frontend/base.html' %}
{% load static %}
{% load ebs_tags %}

{% block title %} EBS - Countries {% endblock %}

{% block content %}

{% include 'frontend/menu.html' %}

<div class="bg-white p-3 rounded-sm border-light">
    {% if messages %}
    <div class="row">
        <div class="col-md-12">
            {% for message in messages %}
            <div class="alert {{ message.tags }}" role="alert">
                <p>{{ message }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="5%">#</th>
                <th width="40%">Country</th>
                <th width="25%">Last Update</th>
                <th width="15%">Status</th>
                <th style="width: 80px;">Action</th>
            </tr>
        </thead>

        <tbody>
            {% for country in countries %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{country.title}}</td>
                <td></td>
                <td>
                    {% if survey.id|get_country_survey_status:country.id == 'NOT STARTED' %}
                    <span class="badge badge-warning">NOT STARTED</span>
                    {% elif survey.id|get_country_survey_status:country.id == 'INCOMPLETE' %}
                    <span class="badge badge-danger">INCOMPLETE</span>
                    {% elif survey.id|get_country_survey_status:country.id == 'COMPLETE' %}
                    <span class="badge badge-success">COMPLETE</span>
                    {% endif %}
                </td>
                <td>
                    {% if survey.id == 1 %}
                        <a href="/responses/section_one/{{country.id}}" class="text-primary" title="View Response">
                            <i class="fa fa-folder-open"></i>
                        </a>&nbsp;
                    {% elif survey.id == 2 %}
                        <a href="/responses/metrics/{{country.id}}" class="text-primary" title="View Response">
                            <i class="fa fa-folder-open"></i>
                        </a>&nbsp;
                    {% endif %}

                    {% if survey.id|get_country_survey_status:country.id == 'NOT STARTED' or survey.id|get_country_survey_status:country.id == 'INCOMPLETE' %}
                        <a href="/responses/send_incomplete_submission_alert/{{survey.id}}/{{country.id}}" class="text-danger"
                            title="Send Incomplete Submission Alert">
                            <i class="fa fa-envelope-open"></i>
                        </a>&nbsp;
                    {% endif %}

                    {% if survey.id|get_country_survey_status:country.id == 'COMPLETE' %}
                        <a href="/responses/export_csv/{{survey.id}}/{{country.id}}" class="text-success" title="Export csv">
                            <i class="fa fa-file-excel"></i>
                        </a>&nbsp;
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}