{% extends 'frontend/base.html' %}
{% load i18n %}
{% load static %}
{% load ebs_tags %}
{% load crispy_forms_tags %}
{% block title %} EBS - Change Password {% endblock %}

{% block content %}
<!-- Page content -->
<div class="bg-white p-3 rounded-sm border-light">
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="mt-2"></div>
                <button type="submit" class="btn btn-primary btn-sm">Save</button>
              </form>
        </div><!--./col-md-8-->
    </div><!--./row-->
</div><!--./bg-white-->
{% endblock %}