{% extends 'frontend/base.html' %}
{% load i18n %}

{% block title %} EBS - Login {% endblock %}

{% block content %}
<!-- Page content -->
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <!--
                <div class="text-center mt-2">
                    <div class="dropdown">
                        <button class="btn btn-outline-danger dropdown-toggle" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans "Change Language" %}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/change_language/en-us"> English</a>
                            <a class="dropdown-item" href="/change_language/fr"> French</a>
                            <a class="dropdown-item" href="/change_language/pt"> Portuguese</a>
                        </div>
                    </div>
                </div>
                ./text-center-->

                <div style="margin-top: 30px;"></div>
                
                <div class="card bg-white" style="border: 1px solid #eeeeee;">
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <h6 class="text-uppercase font-weight-bold">{% trans 'Login to your account' %}</h6>
                            <p class="text-muted font-weight-bold">{% trans 'Enter your credentials below' %}</p>
                        </div>

                        {% if messages %}
                        <div class="row mt-2">
                            <div class="col-md-12">
                                {% for message in messages %}
                                <div class="alert {{message.tags}}">
                                    <span>{{ message }}</span>
                                </div>
                                <!--./alert-danger-->
                                {% endfor %}
                            </div>
                            <!--./col-->
                        </div>
                        <!--./row-->
                        {% endif %}


                        <form method="post" class="form-horizontal" action="">
                            {% csrf_token %}

                            <div class="form-group">
                                <label>{% trans 'Username' %} <span class="red">*</span></label>
                                <input id="id_username" type="text" placeholder="{% trans 'Write username...' %}" class="form-control"
                                    name="username" required>
                            </div>
                            <!--./form-group -->

                            <div class="form-group">
                                <label>{% trans 'Password' %} <span class="red">*</span></label>
                                <input id="password" type="password" placeholder="{% trans 'Write password...' %}"
                                    class="form-control" name="password" required>
                            </div>
                            <!--./form-group -->

                            <div class="form-group last">
                                <button type="submit" class="btn btn-primary btn-block text-uppercase">
                                    {% trans 'Login' %} <i class="fa fa-chevron-circle-right"></i>
                                </button>

                                <input type="hidden" name="next" value="{{ next }}" />
                            </div><!-- form-group -->
                        </form>
                    </div>
                    <!--./card-body -->
                </div>
            </div>
            <!--./col-md-12 -->
        </div>
        <!--./row -->
    </div>
    <!--./container -->
</div><!-- /page content -->
{% endblock %}