{% extends 'frontend/base.html' %}
{% load static %}
{% load ebs_tags %}

{% block content %}

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link font-weight-bold" href="/questionnare/countries">Responses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-weight-bold" href="#">Notifications</a>
    </li>
</ul>

<div class="bg-white p-3 rounded-sm border-light">
    <div class="d-flex">
        <div class="float-right p-2">
            <a href="#" class="btn btn-success btn-sm">
                <i class="fa fa-file-excel"></i>
                Print</a>
        </div>
    </div>

    <div class="d-flex border-bottom">
        <div class="mr-auto p-2 font-weight-bold">Name of the Country</div>
        <div class="p-2">{{ country.title }}</div>
    </div>
    <!--./flex-->

    <div class="d-flex border-bottom">
        <div class="mr-auto p-2 font-weight-bold">Supporting Regional Cordinating Centre (RCC)</div>
        <div class="p-2">{{ country.council.title }}</div>
    </div>
    <!--./flex-->

    <div class="d-flex border-bottom">
        <div class="mr-auto p-2 font-weight-bold">Respondent Name</div>
        <div class="p-2">{{ profile.user.get_full_name }}</div>
    </div>
    <!--./flex-->

    <div class="d-flex border-bottom">
        <div class="mr-auto p-2 font-weight-bold">Respondent Institution</div>
        <div class="p-2">{{ profile.institution }}</div>
    </div>
    <!--./flex-->

    <div class="d-flex border-bottom">
        <div class="mr-auto p-2 font-weight-bold">Respondent designation</div>
        <div class="p-2">{{ profile.designation }}</div>
    </div>
    <!--./flex-->


    <div class="row mt-4">
        <div class="col-md-12">

            {% if sections|length > 0 %}
            <div class="accordion" id="myAccordion">

                {% for section in sections %}
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link" data-toggle="collapse"
                                data-target="#collapse_{{ section.id }}">
                                {{ section.code }}. {{ section.title }}
                            </button>
                        </h2>
                    </div>
                    <!--./card-header-->
                    <div id="collapse_{{ section.id }}" class="collapse" aria-labelledby="headingOne"
                        data-parent="#myAccordion">
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr valign="top">
                                        <th width="3%" valign="top">#</th>
                                        <th width="40%" valign="top">Question</th>
                                        <th width="20%" valign="top">Yes/No</th>
                                        <th width="30%" valign="top">Remarks</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for question in section.questions.all %}
                                    <tr>
                                        <td>{{ question.code }}</td>
                                        <td>{{ question.title }}</td>
                                        <td>{{ question.id|get_qn_answer:profile.user }}</td>
                                        <td>{{ question.id|get_qn_remarks:profile.user }} </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!--./card-body-->
                    </div>
                    <!--./collapse-->
                </div>
                <!--./card-->
                {% endfor %}
            </div>
            <!--./accordion-->
            {% endif %}


        </div>
        <!--./col-->
    </div>
    <!--./row-->


</div>
<!--./end div-->


{% endblock %}