{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Events Based Surveillance Situational analysis questionnaire</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,100,500,700,900" rel="stylesheet"
        type="text/css">

    <!-- main bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Core JS files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Events Based Surveillance Situational analysis questionnaire</a>
            </div>
            <!--./navbar-header-->
        </div>
        <!--./container-fluid -->
    </nav>
    <!-- /fixed navbar -->

    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="float-left">
                        <img src="{% static 'img/africacdc.png' %}" alt="AfricaCDC" height="80" />&nbsp;&nbsp;
                        <img src="{% static 'img/sua-logo.svg' %}" height="80" alt="SUA" />
                    </div>
                    <!--./pull-left-->
                </div>
                <!--./col-md-6-->
                <div class="col-md-6">
                    <div class="float-right">
                        <img src="{% static 'img/sacids.jpeg' %}" alt="" height="80" />&nbsp;&nbsp;
                        <img src="{% static 'img/ecsa-logo.png' %}" alt="" height="80" />
                    </div>
                    <!--./pull-left-->
                </div>
                <!--./col-md-6-->
            </div>
            <!--./row-->
        </div>
        <!--./container-fluid -->
    </div>
    <!-- /page header -->

    {% block content %}{% endblock %}
</body>

</html>