{% extends 'frontend/base.html' %}
{% load static %}
{% load ebs_tags %}
{% block title %} EBS - Section 4 {% endblock %}

{% block content %}

{% include 'frontend/menu.html' %}

<!-- Page content -->
<div class="page-content bg-grey">
    <div class="container">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content" id="section_four">
                <form id="msform" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset>
                        <div class="card-h1">
                            <div class="col-md-12">
                                <h5 class="font-weight-600">
                                    Resources
                                </h5>
                                <span>Section 4 of 6</span>
                            </div>
                            <!--./col-->
                        </div>
                        <!--./row-->

                        <div class="mt-2"></div>
                        {% include 'sections/details.html' %}

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 139|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 139|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[139]" type="radio" class="" value="YES" {% if 139|get_qn_answer:user == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[139]" type="radio" class="" value="NO" {% if 139|get_qn_answer:user == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[139]" class="form-control" readonly
                                            placeholder="Write remarks..." id="remarks">{{ 139|get_qn_remarks:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Attachments </label>
                                        <!--./float-right-->
                                        
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 140|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 140|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table">
                                        <tr>
                                            <td width="40%"></td>
                                            <td width="30%">Funding Level</td>
                                            <td width="15%">Amount</td>
                                            <td width="15%">Proportion</td>
                                        </tr>

                                        <tr>
                                            <td>{{ 141|get_qn_title }}</td>
                                            <td><input type="text" name="answer[306]" id="answer" readonly value="{{ 306|get_qn_answer:user }}" class="form-control" />
                                            </td>
                                            <td><input type="text" name="answer[307]" id="answer" readonly value="{{ 307|get_qn_answer:user }}" class="form-control" />
                                            </td>
                                            <td><input type="text" name="answer[308]" id="answer" readonly value="{{ 308|get_qn_answer:user }}" class="form-control" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>{{ 142|get_qn_title }}</td>
                                            <td><input type="text" name="answer[309]" id="answer" readonly value="{{ 309|get_qn_answer:user }}" class="form-control" />
                                            </td>
                                            <td><input type="text" name="answer[310]" id="answer" readonly value="{{ 310|get_qn_answer:user }}" class="form-control" />
                                            </td>
                                            <td><input type="text" name="answer[311]" id="answer" readonly value="{{ 311|get_qn_answer:user }}" class="form-control" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>{{ 143|get_qn_title }}</td>
                                            <td><input type="text" name="answer[312]" id="answer" readonly value="{{ 312|get_qn_answer:user }}" class="form-control" />
                                            </td>
                                            <td><input type="text" name="answer[313]" id="answer" readonly value="{{ 313|get_qn_answer:user }}" class="form-control" />
                                            </td>
                                            <td><input type="text" name="answer[314]" id="answer" readonly value="{{ 314|get_qn_answer:user }}" class="form-control" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>{{ 144|get_qn_title }}</td>
                                            <td><input type="text" name="answer[315]" id="answer" readonly value="{{ 315|get_qn_answer:user }}" class="form-control" />
                                            </td>
                                            <td><input type="text" name="answer[316]" id="answer" readonly value="{{ 316|get_qn_answer:user }}" class="form-control" />
                                            </td>
                                            <td><input type="text" name="answer[317]" id="answer" readonly value="{{ 317|get_qn_answer:user }}" class="form-control" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 145|get_qn_title }}</label><br />
                                        <!--question type-->
                                        <textarea rows="4" cols="40" name="answer[145]" class="textarea form-control" readonly
                                            id="answer">{{ 145|get_qn_answer:user }}</textarea>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 146|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 146|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[146]" type="radio" class="" value="YES" {% if 146|get_qn_answer:user == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[146]" type="radio" class="" value="NO" {% if 146|get_qn_answer:user == "NO" %} checked {% endif %}/>
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[146]" class="form-control" readonly
                                            placeholder="Write remarks..." id="remarks">{{ 146|get_qn_remarks:user }} </textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 147|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 147|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 148|get_qn_title }}</label><br />
                                        <!--question type-->
                                        <input id="answer" name="answer[148]" type="radio" class="" value="YES" {% if 148|get_qn_answer:user == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[148]" type="radio" class="" value="NO" {% if 148|get_qn_answer:user == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[148]" class="form-control" readonly
                                            placeholder="Write remarks..." id="remarks">{{ 148|get_qn_remarks:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 149|get_qn_title }}</label><br />
                                        <!--question type-->
                                        <input id="answer" name="answer[149]" type="radio" class="" value="YES" {% if 149|get_qn_answer:user == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[149]" type="radio" class="" value="NO" {% if 149|get_qn_answer:user == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[149]" class="form-control" readonly
                                            placeholder="Write remarks..." id="remarks">{{ 149|get_qn_remarks:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 150|get_qn_title }}</label><br />
                                        <!--question type-->
                                        <input id="answer" name="answer[150]" type="radio" class="" value="YES" {% if 150|get_qn_answer:user == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[150]" type="radio" class="" value="NO" {% if 150|get_qn_answer:user == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[150]" class="form-control" readonly
                                            placeholder="Write remarks..." id="remarks">{{ 150|get_qn_remarks:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 151|get_qn_title }}</label><br />
                                        <!--question type-->
                                        <input id="answer" name="answer[151]" type="radio" class="" value="YES" {% if 151|get_qn_answer:user == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[151]" type="radio" class="" value="NO" {% if 151|get_qn_answer:user == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[151]" class="form-control" readonly
                                            placeholder="Write remarks..." id="remarks">{{ 151|get_qn_remarks:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 152|get_qn_title }}</label><br />
                                        <!--question type-->
                                        <input id="answer" name="answer[152]" type="radio" class="" value="YES" {% if 152|get_qn_answer:user == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[152]" type="radio" class="" value="NO" {% if 152|get_qn_answer:user == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[152]" class="form-control" readonly
                                            placeholder="Write remarks..." id="remarks">{{ 152|get_qn_remarks:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 153|get_qn_title }}</label><br />
                                        <!--question type-->
                                        <input id="answer" name="answer[153]" type="radio" class="" value="YES" {% if 153|get_qn_answer:user == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[153]" type="radio" class="" value="NO" {% if 153|get_qn_answer:user == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[153]" class="form-control" readonly
                                            placeholder="Write remarks..." id="remarks">{{ 153|get_qn_remarks:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 154|get_qn_title }}</label><br />
                                        <!--question type-->
                                        <input id="answer" name="answer[154]" type="radio" class="" value="YES" {% if 154|get_qn_answer:user == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[154]" type="radio" class="" value="NO" {% if 154|get_qn_answer:user == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[154]" class="form-control" readonly
                                            placeholder="Write remarks..." id="remarks">{{ 154|get_qn_remarks:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 155|get_qn_title }}</label><br />
                                        <!--question type-->
                                        <input id="answer" name="answer[155]" type="radio" class="" value="YES" {% if 155|get_qn_answer:user == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[155]" type="radio" class="" value="NO" {% if 155|get_qn_answer:user == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[155]" class="form-control" readonly
                                            placeholder="Write remarks..." id="remarks">{{ 155|get_qn_remarks:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 156|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 156|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 157|get_qn_title }}</label><br />
                                        <!--question type-->
                                        <input id="answer" name="answer[157]" type="radio" class="" value="YES" {% if 157|get_qn_answer:user == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[157]" type="radio" class="" value="NO" {% if 157|get_qn_answer:user == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[157]" class="form-control" readonly
                                            placeholder="Write remarks..." id="remarks">{{ 157|get_qn_remarks:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 158|get_qn_title }}</label><br />
                                        <!--question type-->
                                        <input id="answer" name="answer[158]" type="radio" class="" value="YES" {% if 158|get_qn_answer:user == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[158]" type="radio" class="" value="NO" {% if 158|get_qn_answer:user == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[158]" class="form-control" readonly
                                            placeholder="Write remarks..." id="remarks">{{ 158|get_qn_remarks:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 159|get_qn_title }}</label><br />
                                        <!--question type-->
                                        <input id="answer" name="answer[159]" type="radio" class="" value="YES" {% if 159|get_qn_answer:user == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[159]" type="radio" class="" value="NO" {% if 159|get_qn_answer:user == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[159]" class="form-control" readonly
                                            placeholder="Write remarks..." id="remarks">{{ 159|get_qn_remarks:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 160|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 160|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[160]" type="radio" class="" value="YES" {% if 160|get_qn_answer:user == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[160]" type="radio" class="" value="NO" {% if 160|get_qn_answer:user == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[160]" class="form-control" readonly
                                            placeholder="Write remarks..." id="remarks">{{ 160|get_qn_remarks:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 161|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 161|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[161]" type="radio" class="" value="YES" {% if 161|get_qn_answer:user == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[161]" type="radio" class="" value="NO" {% if 161|get_qn_answer:user == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[161]" class="form-control" readonly
                                            placeholder="Write remarks..." id="remarks">{{ 161|get_qn_remarks:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 162|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 162|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[162]" type="radio" class="" value="YES" {% if 162|get_qn_answer:user == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[162]" type="radio" class="" value="NO" {% if 162|get_qn_answer:user == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[162]" class="form-control" readonly
                                            placeholder="Write remarks..." id="remarks">{{ 162|get_qn_remarks:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 163|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 163|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <textarea rows="4" cols="40" name="answer[163]" class="textarea form-control" readonly
                                            id="answer">{{ 163|get_qn_answer:user }}</textarea>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 164|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 164|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <textarea rows="4" cols="40" name="answer[164]" class="textarea form-control" readonly
                                            id="answer">{{ 164|get_qn_answer:user }}</textarea>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 165|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 165|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[165]" type="radio" class="" value="YES" {% if 165|get_qn_answer:user == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[165]" type="radio" class="" value="NO" {% if 165|get_qn_answer:user == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--./buttons -->
                        <a href="/responses/section_three/{{country.id}}" class="btn btn-danger btn-sm"><i class="fa fa-angle-left"></i> Previous</a>
                        <a href="/responses/section_five/{{country.id}}" class="btn btn-primary btn-sm">
                            <i class="fa fa-angle-right"></i> Next </a>
                        <button class="btn btn-success btn-sm" onclick="printDiv('section_four');">
                            <i class="fa fa-print"></i> Print/Save
                        </button>
                    </fieldset>
                </form>

            </div><!-- /content area -->
        </div><!-- /main content -->
    </div>
    <!--./container-->
</div><!-- /page content -->

{% endblock %}