{% extends 'frontend/base.html' %}
{% load i18n %}
{% load static %}
{% load ebs_tags %}
{% block title %} EBS - General Information {% endblock %}

{% block content %}

{% include 'frontend/menu.html' %}
<!-- Page content -->
<div class="page-content bg-grey">
    <div class="container">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content" id="general_info">
                <form id="msform" action="" method="POST" enctype="multipart/form-data">

                    <fieldset>
                        <div class="card-h1 m-0">
                            <div class="col-md-12">
                                <h5 class="font-weight-600">
                                    {{ section.title }}
                                </h5>
                                <span>Section 1 of 4</span>
                            </div>
                            <!--./col-->

                            <div class="col-md-12 mt-2">
                                <i>{{ section.description|safe|default:"" }}</i>
                            </div>
                            <!--./col-->
                        </div>
                        <!--./row-->

                        <div class="mt-2"></div>
                        {% include 'sections/details.html' %}

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 505|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 505|get_qn_hint|default:"" }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="date" name="answer[505]" id="answer"
                                            value="{{ 505|get_qn_answer:user }}" class="form-control" readonly />
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 506|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 506|get_qn_hint|default:"" }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="answer[506]" id="answer"
                                            value="{{ 506|get_qn_answer:user|default:country.title }}"
                                            class="form-control" readonly />
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 507|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 507|get_qn_hint|default:"" }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea rows="3" cols="40" name="answer[507]" class="textarea form-control"
                                            readonly placeholder="{% trans 'Write answer...' %}"
                                            id="answer">{{ 507|get_qn_answer:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 508|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 508|get_qn_hint|default:"" }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea rows="3" cols="40" name="answer[508]" class="textarea form-control"
                                            readonly placeholder="{% trans 'Write answer...' %}"
                                            id="answer">{{ 508|get_qn_answer:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 509|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 509|get_qn_hint|default:"" }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea rows="3" cols="40" name="answer[509]" class="textarea form-control"
                                            readonly placeholder="{% trans 'Write answer...' %}"
                                            id="answer">{{ 509|get_qn_answer:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Uploaded Attachments</label>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    {% if attachments %}
                                    <ul>
                                        {% for val in attachments %}
                                        <li>
                                            <a href="{{ '/static/media/' }}{{ val.uploads }}" download>
                                                {{ val.uploads }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    {% else %}
                                    <i style="color: red;">No attachment available</i>
                                    {% endif %}
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--./buttons -->
                        <a href="/responses/metrics/{{country.id}}" class="btn btn-primary btn-sm">
                            <i class="fa fa-angle-right"></i> Next </a>
                        <button class="btn btn-success btn-sm" onclick="printDiv('general_info');">
                            <i class="fa fa-print"></i> Print/Save
                        </button>
                    </fieldset>
                </form>
                <div class="mt-4"></div>
                <!--./mt-4-->
            </div><!-- /content area -->
        </div><!-- /main content -->
    </div>
    <!--./container-->
</div><!-- /page content -->
{% endblock %}