{% extends 'frontend/base.html' %}
{% load static %}
{% block title %} Events Based Surveillance Situational analysis questionnaire {% endblock %}

{% block content %}
<!-- Page content -->
<div class="page-content bg-grey">
    <div class="container">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                <div class="row">
                    <div class="offset-3 col-md-6">
                        <p>
                            <b>Note: </b>
                            Write respondent email and and click continue for verification of respondent.
                        </p>
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert {{ message.tags }}">
                            {{ message }}
                        </div>
                        <!--./alert-->
                        {% endfor %}
                        {% endif %}

                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input type="email" name="email" placeholder="Write respondent email..."
                                            class="form-control" required />
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-md-4-->

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary btn-xs" value="Continue" />
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-md-4-->
                            </div>
                            <!--./row-->

                        </form>
                        <!--./form-->
                    </div>
                    <!--./col-md-12 -->
                </div>
                <!--./row -->
            </div><!-- /content area -->
        </div><!-- /main content -->
    </div>
    <!--./container-->
</div><!-- /page content -->
{% endblock %}