{% extends 'frontend/base.html' %}
{% load static %}
{% block title %} Events Based Surveillance Situational analysis questionnaire {% endblock %}

{% block content %}
<!-- Page content -->
<div class="page-content bg-grey">
    <div class="container">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <form action="" method="post">
                            {% csrf_token %}

                            {% if categories|length > 0 %}
                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    <div id="accordion" class="myaccordion">
                                        {% for category in categories %}

                                        <div class="card-title">
                                            <a class="card-link" data-toggle="collapse"
                                                href="#collapse_{{ category.id }}">
                                                {{ category.code|stringformat:"i"|add:". "|add:category.title }}
                                            </a>
                                        </div>

                                        <div id="collapse_{{ category.id }}"
                                            class="collapse {% if category.id == 1 %} show {% endif %}"
                                            data-parent="#accordion">
                                            {% for question in category.questions.all %}
                                            <input type="hidden" name="question_id" value="{{ question.id }}" />
                                            {% if question.has_sub == "YES" %}

                                            {% elif question.has_sub == "NO"  %}
                                            <div class="card-questions">
                                                <div class="form-group">
                                                    <label>{{ question.code }}.
                                                        {{ question.title }}</label>
                                                    {% if question.qn_type == "SELECT" %}
                                                    <p>
                                                        <input id="answer" name="answer" type="radio" class=""
                                                            value="YES" />
                                                        <label for="answer" class="">&nbsp;Yes</label>
                                                        <br />

                                                        <input id="answer" name="answer" type="radio" class=""
                                                            value="NO" />
                                                        <label for="answer" class="">&nbsp;No</label>
                                                    </p>
                                                    {% elif question.qn_type == "NUMBER" %}
                                                    <input type="number" name="answer" id="answer"
                                                        class="form-control" />
                                                    {% elif question.qn_type == "TEXT" %}
                                                    <input type="text" name="answer" id="answer" class="form-control">
                                                    {% elif question.qn_type == "TEXTAREA" %}
                                                    <textarea rows="4" cols="40" name="answer"
                                                        class="textarea form-control" id="answer"></textarea>
                                                    {% endif %}

                                                </div>
                                                <!--./form-group-->

                                                <div class="form-group">
                                                    <label>Remarks </label>
                                                    <div class="float-right hints">
                                                        <!-- Button trigger modal -->
                                                        <a href="#" class="qn-modal" question-id="{{ question.id }}">Hints</a>
                                                    </div><!--./float-right-->
                                                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                                                        placeholder="Write remarks..."
                                                        id="remarks"></textarea>
                                                </div>
                                                <!--./form-group-->
                                            </div>
                                            <!--./-->
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                        <!--./collaple-->

                                        {% endfor %}
                                    </div>
                                    <!--./accordion-->
                                </div>
                                <!--./col-md-12-->
                            </div>
                            <!--./row-->
                            {% else %}
                            <span>No questions</span>
                            {% endif %}

                            <div class="row mt-3">
                                <div class="col-md-12 col-12">
                                    <div class="float-left">
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary btn-xs" value="Submit" />
                                        </div>
                                        <!--./form-group-->
                                    </div>
                                    <!--./pull-right -->
                                </div>
                                <!--./col-md-12 -->
                            </div>
                            <!--./row -->
                        </form>

                    </div>
                    <!--./col-md-12 -->
                </div>
                <!--./row -->
            </div><!-- /content area -->
        </div><!-- /main content -->
    </div>
    <!--./container-->
</div><!-- /page content -->

<!-- Modal -->
<div class="modal fade" id="qnModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="qnModalTitle">Remarks Hint</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div><!--./modal-body-->
        <div class="modal-body" id="qnModalBody">
          ...
        </div><!--./modal-body-->
      </div><!--./modal-content-->
    </div><!--./modal dialog-->
  </div><!--./modal-->

{% endblock %}