{% extends 'frontend/base.html' %}
{% load i18n %}
{% load static %}
{% load ebs_tags %}
{% block title %} EBS - Preference {% endblock %}

{% block content %}

{% include 'frontend/menu.html' %}
<!-- Page content -->
<div class="page-content bg-grey">
    <div class="container">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content" id="preference">
                <form id="msform" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <fieldset>
                        <div class="card-h1 m-0">
                            <div class="col-md-12">
                                <h5 class="font-weight-600">
                                    {{ section.title }}
                                </h5>
                                <span>{% trans 'Section 3 of 4' %}</span>
                            </div>
                            <!--./col-->

                            <div class="col-md-12 mt-2">
                                <i>{{ section.description|safe }}</i>
                            </div>
                            <!--./col-->
                        </div>
                        <!--./row-->

                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 445|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 445|get_qn_hint|default:"" }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 446|get_qn_title }}</label>
                                        <select name="answer[446]" id="answer" class="form-control" required>
                                            <option value="">{% trans '-- Select --' %}</option>
                                            <option value="1" {% if 446|get_qn_answer:user == "1" %} selected {% endif %}>1</option>
                                            <option value="2" {% if 446|get_qn_answer:user == "2" %} selected {% endif %}>2</option>
                                            <option value="3" {% if 446|get_qn_answer:user == "3" %} selected {% endif %}>3</option>
                                            <option value="4" {% if 446|get_qn_answer:user == "4" %} selected {% endif %}>4</option>
                                            <option value="5" {% if 446|get_qn_answer:user == "5" %} selected {% endif %}>5</option>
                                            <option value="6" {% if 446|get_qn_answer:user == "6" %} selected {% endif %}>6</option>
                                            <option value="7" {% if 446|get_qn_answer:user == "7" %} selected {% endif %}>7</option>
                                        </select>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 447|get_qn_title }}</label>
                                        <textarea rows="3" cols="40" name="answer[447]" class="textarea form-control" required
                                            placeholder="{% trans 'Write answer...' %}" id="answer">{{ 447|get_qn_answer:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 448|get_qn_title }}</label>
                                        <textarea rows="3" cols="40" name="answer[448]" class="textarea form-control" required
                                            placeholder="{% trans 'Write answer...' %}" id="answer">{{ 448|get_qn_answer:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 449|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 449|get_qn_hint|default:"" }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 450|get_qn_title }}</label>
                                        <select name="answer[450]" id="answer" class="form-control" required>
                                            <option value="">{% trans '-- Select --' %}</option>
                                            <option value="1" {% if 450|get_qn_answer:user == "1" %} selected {% endif %}>1</option>
                                            <option value="2" {% if 450|get_qn_answer:user == "2" %} selected {% endif %}>2</option>
                                            <option value="3" {% if 450|get_qn_answer:user == "3" %} selected {% endif %}>3</option>
                                            <option value="4" {% if 450|get_qn_answer:user == "4" %} selected {% endif %}>4</option>
                                            <option value="5" {% if 450|get_qn_answer:user == "5" %} selected {% endif %}>5</option>
                                            <option value="6" {% if 450|get_qn_answer:user == "6" %} selected {% endif %}>6</option>
                                            <option value="7" {% if 450|get_qn_answer:user == "7" %} selected {% endif %}>7</option>
                                        </select>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 451|get_qn_title }}</label>
                                        <textarea rows="3" cols="40" name="answer[451]" class="textarea form-control" required
                                            placeholder="{% trans 'Write answer...' %}" id="answer">{{ 451|get_qn_answer:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 452|get_qn_title }}</label>
                                        <textarea rows="3" cols="40" name="answer[452]" class="textarea form-control" required
                                            placeholder="{% trans 'Write answer...' %}" id="answer">{{ 452|get_qn_answer:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 453|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 453|get_qn_hint|default:"" }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 454|get_qn_title }}</label>
                                        <select name="answer[454]" id="answer" class="form-control" required>
                                            <option value="">{% trans '-- Select --' %}</option>
                                            <option value="1" {% if 454|get_qn_answer:user == "1" %} selected {% endif %}>1</option>
                                            <option value="2" {% if 454|get_qn_answer:user == "2" %} selected {% endif %}>2</option>
                                            <option value="3" {% if 454|get_qn_answer:user == "3" %} selected {% endif %}>3</option>
                                            <option value="4" {% if 454|get_qn_answer:user == "4" %} selected {% endif %}>4</option>
                                            <option value="5" {% if 454|get_qn_answer:user == "5" %} selected {% endif %}>5</option>
                                            <option value="6" {% if 454|get_qn_answer:user == "6" %} selected {% endif %}>6</option>
                                            <option value="7" {% if 454|get_qn_answer:user == "7" %} selected {% endif %}>7</option>
                                        </select>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 455|get_qn_title }}</label>
                                        <textarea rows="3" cols="40" name="answer[455]" class="textarea form-control" required
                                            placeholder="{% trans 'Write answer...' %}" id="answer">{{ 455|get_qn_answer:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 456|get_qn_title }}</label>
                                        <textarea rows="3" cols="40" name="answer[456]" class="textarea form-control" required
                                            placeholder="{% trans 'Write answer...' %}" id="answer">{{ 456|get_qn_answer:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 457|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 457|get_qn_hint|default:"" }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 458|get_qn_title }}</label>
                                        <select name="answer[458]" id="answer" class="form-control" required>
                                            <option value="">{% trans '-- Select --' %}</option>
                                            <option value="1" {% if 458|get_qn_answer:user == "1" %} selected {% endif %}>1</option>
                                            <option value="2" {% if 458|get_qn_answer:user == "2" %} selected {% endif %}>2</option>
                                            <option value="3" {% if 458|get_qn_answer:user == "3" %} selected {% endif %}>3</option>
                                            <option value="4" {% if 458|get_qn_answer:user == "4" %} selected {% endif %}>4</option>
                                            <option value="5" {% if 458|get_qn_answer:user == "5" %} selected {% endif %}>5</option>
                                            <option value="6" {% if 458|get_qn_answer:user == "6" %} selected {% endif %}>6</option>
                                            <option value="7" {% if 458|get_qn_answer:user == "7" %} selected {% endif %}>7</option>
                                        </select>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 459|get_qn_title }}</label>
                                        <textarea rows="3" cols="40" name="answer[459]" class="textarea form-control" required
                                            placeholder="{% trans 'Write answer...' %}" id="answer">{{ 459|get_qn_answer:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 460|get_qn_title }}</label>
                                        <textarea rows="3" cols="40" name="answer[460]" class="textarea form-control" required
                                            placeholder="{% trans 'Write answer...' %}" id="answer">{{ 460|get_qn_answer:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 461|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 461|get_qn_hint|default:"" }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 462|get_qn_title }}</label>
                                        <select name="answer[462]" id="answer" class="form-control" required>
                                            <option value="">{% trans '-- Select --' %}</option>
                                            <option value="1" {% if 462|get_qn_answer:user == "1" %} selected {% endif %}>1</option>
                                            <option value="2" {% if 462|get_qn_answer:user == "2" %} selected {% endif %}>2</option>
                                            <option value="3" {% if 462|get_qn_answer:user == "3" %} selected {% endif %}>3</option>
                                            <option value="4" {% if 462|get_qn_answer:user == "4" %} selected {% endif %}>4</option>
                                            <option value="5" {% if 462|get_qn_answer:user == "5" %} selected {% endif %}>5</option>
                                            <option value="6" {% if 462|get_qn_answer:user == "6" %} selected {% endif %}>6</option>
                                            <option value="7" {% if 462|get_qn_answer:user == "7" %} selected {% endif %}>7</option>
                                        </select>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 463|get_qn_title }}</label>
                                        <textarea rows="3" cols="40" name="answer[463]" class="textarea form-control" required
                                            placeholder="{% trans 'Write answer...' %}" id="answer">{{ 463|get_qn_answer:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 464|get_qn_title }}</label>
                                        <textarea rows="3" cols="40" name="answer[464]" class="textarea form-control" required
                                            placeholder="{% trans 'Write answer...' %}" id="answer">{{ 464|get_qn_answer:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 465|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 465|get_qn_hint|default:"" }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 466|get_qn_title }}</label>
                                        <select name="answer[466]" id="answer" class="form-control" required>
                                            <option value="">{% trans '-- Select --' %}</option>
                                            <option value="1" {% if 466|get_qn_answer:user == "1" %} selected {% endif %}>1</option>
                                            <option value="2" {% if 466|get_qn_answer:user == "2" %} selected {% endif %}>2</option>
                                            <option value="3" {% if 466|get_qn_answer:user == "3" %} selected {% endif %}>3</option>
                                            <option value="4" {% if 466|get_qn_answer:user == "4" %} selected {% endif %}>4</option>
                                            <option value="5" {% if 466|get_qn_answer:user == "5" %} selected {% endif %}>5</option>
                                            <option value="6" {% if 466|get_qn_answer:user == "6" %} selected {% endif %}>6</option>
                                            <option value="7" {% if 466|get_qn_answer:user == "7" %} selected {% endif %}>7</option>
                                        </select>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 467|get_qn_title }}</label>
                                        <textarea rows="3" cols="40" name="answer[467]" class="textarea form-control" required
                                            placeholder="{% trans 'Write answer...' %}" id="answer">{{ 467|get_qn_answer:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 468|get_qn_title }}</label>
                                        <textarea rows="3" cols="40" name="answer[468]" class="textarea form-control" required
                                            placeholder="{% trans 'Write answer...' %}" id="answer">{{ 468|get_qn_answer:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 469|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 469|get_qn_hint|default:"" }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 470|get_qn_title }}</label>
                                        <select name="answer[470]" id="answer" class="form-control" required>
                                            <option value="">{% trans '-- Select --' %}</option>
                                            <option value="1" {% if 470|get_qn_answer:user == "1" %} selected {% endif %}>1</option>
                                            <option value="2" {% if 470|get_qn_answer:user == "2" %} selected {% endif %}>2</option>
                                            <option value="3" {% if 470|get_qn_answer:user == "3" %} selected {% endif %}>3</option>
                                            <option value="4" {% if 470|get_qn_answer:user == "4" %} selected {% endif %}>4</option>
                                            <option value="5" {% if 470|get_qn_answer:user == "5" %} selected {% endif %}>5</option>
                                            <option value="6" {% if 470|get_qn_answer:user == "6" %} selected {% endif %}>6</option>
                                            <option value="7" {% if 470|get_qn_answer:user == "7" %} selected {% endif %}>7</option>
                                        </select>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 471|get_qn_title }}</label>
                                        <textarea rows="3" cols="40" name="answer[471]" class="textarea form-control" required
                                            placeholder="{% trans 'Write answer...' %}" id="answer">{{ 471|get_qn_answer:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 472|get_qn_title }}</label>
                                        <textarea rows="3" cols="40" name="answer[472]" class="textarea form-control" required
                                            placeholder="{% trans 'Write answer...' %}" id="answer">{{ 472|get_qn_answer:user }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--./buttons -->
                        <a href="/questionnare/metrics" class="btn btn-danger btn-sm"><i class="fa fa-angle-left"></i>
                            {% trans 'Previous' %}</a>
                        <input type="submit" name="post_exit" class="btn btn-secondary btn-sm"
                            value="{% trans 'Save and Exit' %}" />
                        <input type="submit" name="post_next" class="btn btn-primary btn-sm"
                            value="{% trans 'Save and Continue' %}" />
                        <button class="btn btn-success btn-sm" onclick="printDiv('preference');">
                            <i class="fa fa-print"></i> {% trans 'Print/Save' %}
                        </button>
                    </fieldset>
                </form>
                <div class="mt-4"></div><!--./mt-4-->
            </div><!-- /content area -->
        </div><!-- /main content -->
    </div>
    <!--./container-->
</div><!-- /page content -->

{% endblock %}