{% extends 'frontend/base.html' %}
{% load i18n %}
{% load static %}
{% load ebs_tags %}
{% block title %} EBS - Welcome Note {% endblock %}

{% block content %}

{% include 'frontend/menu.html' %}
<!-- Page content -->
<div class="page-content bg-grey">
    <div class="container">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content" id="welcome">
                <form id="msform" action="" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        <div class="card-h1 m-0">
                            <div class="col-md-12">
                                <h5 class="font-weight-600">
                                    {{ survey.title }}
                                </h5>
                            </div>
                            <!--./col-->
                        </div>
                        <!--./row-->

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <h6 class="text-uppercase font-weight-600">{% trans 'Description' %}</h6>
                                    <hr />

                                    {% blocktrans %} 
                                    <p class="text-justify">
                                        The Africa CDC and the Mastercard Foundation have established a partnership, which will support African Union Member States to reach a target of 60% COVID-19 vaccination coverage across the African continent. 
                                    </p>

                                    <p class="text-justify">
                                        The Programme, <b>"Saving Lives and Livelihoods: A Partnership for COVID-19 Vaccination in Africa”</b>, planned for the next three years, is a unique initiative due to its scope and scale, the critical topics it focuses on, and the way it will be governed. The Programme will support African Union Member States' efforts towards COVID-19 vaccine equity, with governance structures that emphasise the strengthening of national, regional and continental institutions.
                                    </p>

                                    <p class="text-justify">
                                        We are taking the opportunity to share the attached needs assessment form and request that you include official documents and data listed in the form by <b>June 30 at 11am EAT</b>. Thereafter, we expect to schedule the first of many national technical consultations to align on areas of support in collaboration with each Member State.
                                    </p>

                                    <p class="text-justify">
                                        If you are experiencing any technical difficulties with this document or have questions regarding content, please reach out to Dr Mohammed Abdulaziz on email: <a href="mailto: mohammedab@africa-union.org" class="text-primary text-underline">mohammedab@africa-union.org</a>  and Dr Merawi Aragaw on email: <a href="mailto: MerawiA@africa-union.org" class="text-primary text-underline">MerawiA@africa-union.org</a> .
                                    </p>

                                    {% endblocktrans %}
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <!--./buttons -->
                        <a href="/questionnare/general_info" class="btn btn-primary btn-sm">
                            {% trans 'Next' %} <i class="fa fa-angle-right"></i>
                        </a>
                    </fieldset>
                </form>
                <div class="mt-4"></div><!--./mt-4-->
            </div><!-- /content area -->
        </div><!-- /main content -->
    </div>
    <!--./container-->
</div><!-- /page content -->
{% endblock %}