{% extends 'frontend/base.html' %}
{% load static %}
{% load ebs_tags %}
{% block title %} Events Based Surveillance Situational analysis questionnaire {% endblock %}

{% block content %}
<!-- Page content -->
<div class="page-content bg-grey">
    <div class="container">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                <div class="row">
                    <div class="col-md-12">

                        <form id="msform" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            <!-- user-id -->
                            <input type="hidden" name="user_id" value="{{ user_id }}" />

                            <!--./include forms-->
                            {% include 'questionnare/sectionOne.html' %}
                            {% include 'questionnare/sectionTwo.html' %}
                            {% include 'questionnare/sectionThree.html' %}
                            {% include 'questionnare/sectionFour.html' %}
                            {% include 'questionnare/sectionFive.html' %}
                            {% include 'questionnare/sectionSix.html' %}

                        </form>
                    </div>
                    <!--./col-md-8 -->
                </div>
                <!--./row -->
            </div><!-- /content area -->
        </div><!-- /main content -->
    </div>
    <!--./container-->
</div><!-- /page content -->

{% endblock %}