{% extends 'frontend/base.html' %}
{% load static %}
{% load ebs_tags %}
{% block title %} EBS - Section 1 {% endblock %}

{% block content %}
<!-- Page content -->
<div class="page-content bg-grey">
    <div class="container">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                <form id="msform" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <fieldset>
                        <div class="form-card card-h1 m-0">
                            <div class="col-md-12">
                                <h5 class="font-weight-600 text-center">
                                    Policy and legislative framework for implementation of EBS
                                </h5>
                            </div>
                            <!--./col-->
                        </div>
                        <!--./row-->

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 73|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 73|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[73]" type="radio" class="" value="YES" {% if 73|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[73]" type="radio" class="" value="NO" {% if 73|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[73]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 73|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 74|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 74|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[74]" type="radio" class="" value="YES" {% if 74|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[74]" type="radio" class="" value="NO" {% if 74|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[74]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 74|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>
                                            {{ 75|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 75|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[75]" type="radio" class="" value="YES" {% if 75|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[75]" type="radio" class="" value="NO" {% if 75|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>

                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[75]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 75|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 76|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 76|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[76]" type="radio" class="" value="YES" {% if 76|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[76]" type="radio" class="" value="NO" {% if 76|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[76]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 76|get_qn_remarks}}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 77|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 77|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[77]" type="radio" class="" value="YES" {% if 77|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[77]" type="radio" class="" value="NO" {% if 77|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[77]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 77|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 78|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 78|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[78]" type="radio" class="" value="YES" {% if 78|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[78]" type="radio" class="" value="NO" {% if 78|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[78]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 78|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 79|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 79|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[79]" type="radio" class="" value="YES" {% if 79|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[79]" type="radio" class="" value="NO" {% if 79|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[79]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 79|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 80|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 80|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[80]" type="radio" class="" value="YES" {% if 80|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[80]" type="radio" class="" value="NO" {% if 80|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[80]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 80|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 81|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 81|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[81]" type="radio" class="" value="YES" {% if 81|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[81]" type="radio" class="" value="NO" {% if 81|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[81]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 81|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--./buttons -->
                        <input type="submit" name="post_exit" class="action-button-previous" value="Save and Exit" />
                        <input type="submit" name="post_next" class="action-button" value="Save and Continue" />
                    </fieldset>
                </form>

            </div><!-- /content area -->
        </div><!-- /main content -->
    </div>
    <!--./container-->
</div><!-- /page content -->

{% endblock %}