{% extends 'frontend/base.html' %}
{% load i18n %}
{% load static %}
{% load ebs_tags %}
{% block title %} EBS - Questionnare {% endblock %}

{% block content %}

{% include 'frontend/menu.html' %}
<!-- Page content -->
<div class="page-content bg-grey">
    <div class="container">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content" id="section_one">
                {% if messages %}
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class="alert alert-danger">
                                <a class="close" href="#" data-dismiss="alert">×</a>
                                {% for message in messages %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <form id="msform" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset>
                        {% for section in sections %}
                        <div class="card-h1 mt-2">
                            <div class="col-md-12">
                                <h5 class="font-weight-600">
                                    {{ section.title }}
                                </h5>
                                <span></span>
                            </div>
                            <!--./col-->
                        </div>
                        <!--./row-->
                        
                        {% for question in section.questions.all %}
                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ question.code|str_title:question.title }}</label>
                                        {% if question.hints != null %}
                                        <p class="small">
                                            {{ question.hints }}
                                        </p>
                                        {% endif %}
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {% if question.qn_type == 'RADIO' %}
                                            <input id="answer" name="answer[{{question.id}}]" type="radio" class="" value="YES" {% if question.id|get_qn_answer:user == "YES" %} checked {% endif %} />
                                            <label for="answer" class="">&nbsp;{% trans 'Yes' %}</label>
                                            <br />
                                            <input id="answer" name="answer[{{question.id}}]" type="radio" class="" value="NO" {% if question.id|get_qn_answer:user == "NO" %} checked {% endif %} />
                                            <label for="answer" class="">&nbsp;{% trans 'No' %}</label>
                                        {% elif question.qn_type == 'TEXT' %}
                                            <input type="text" name="answer[{{question.id}}]" id="answer" value="{{ question.id|get_qn_answer:user }}" class="form-control" />
                                        {% elif question.qn_type == 'NUMBER' %}
                                            <input type="number" name="answer[{{question.id}}]" id="answer" value="{{ 306|get_qn_answer:user }}" class="form-control" />
                                        {% elif question.qn_type == 'TEXTAREA' %}
                                            <textarea rows="4" cols="40" name="answer[{{question.id}}]" class="textarea form-control"
                                            id="answer">{{ question.id|get_qn_answer:user }}</textarea>
                                        {% elif question.qn_type == 'ATTACHMENT' %}
                                            <input type="hidden" name="answer[{{question.id}}]" id="answer" value="{{ question.id|get_qn_answer:user }}" class="form-control" />
                                            <input type="file" name="attachments[{{question.id}}]" class="form-control" multiple />
                                            {% show_attachments question.id user %}
                                        {% endif %}
                                    </div>   
                                </div>
                                <!--./col-->

                                {% if question.has_upload == 'YES' %}
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{% trans 'Attachments' %}</label>
                                        <input type="file" name="attachments" class="form-control" multiple />
                                    </div>
                                </div>
                                <!--./col-->
                                {% endif %}

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{% trans 'Remarks' %}</label>
                                        <textarea rows="3" cols="40" name="remarks" class="form-control"
                                            placeholder="{% trans 'Write remarks...' %}" id="remarks">{{ question.id|get_qn_remarks:user }}</textarea>
                                    </div>
                                </div>
                                <!--./col--> 
                            </div>
                            <!--./row-->

                        </div>
                        <!--./form-card-->
                        {% endfor %}
                        {% endfor %}

                        <!--./buttons -->
                        <input type="submit" name="post_exit" class="btn btn-secondary btn-sm" value="{% trans 'Save and Exit' %}" />
                        <input type="submit" name="post_next" class="btn btn-primary btn-sm" value="{% trans 'Save and Complete' %}" />
                    </fieldset>
                </form>
            </div><!-- /content area -->
        </div><!-- /main content -->
    </div>
    <!--./container-->
</div><!-- /page content -->

{% endblock %}