{% load ebs_tags %}

<fieldset>
    <div class="row">
        <div class="col-md-12">
            <h5 class="font-weight-600 text-center">
                Implementation readiness
            </h5>
        </div>
        <!--./col-->
    </div>
    <!--./row-->

    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 113|get_qn_title }}</label>
                    <p class="small">
                        {{ 113|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer[113]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[113]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks[113]" class="form-control" placeholder="Write remarks..."
                        id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-6">
                <div class="form-group">
                    <label>Attachments </label>
                    <!--./float-right-->
                    <input type="file" name="attachments[113]" class="form-control" multiple />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->

    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 114|get_qn_title }}</label>
                    <p class="small">
                        {{ 114|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer[114]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[114]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks[114]" class="form-control" placeholder="Write remarks..."
                        id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-6">
                <div class="form-group">
                    <label>Attachments </label>
                    <!--./float-right-->
                    <input type="file" name="attachments[114]" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 115|get_qn_title }}</label>
                    <p class="small">
                        {{ 115|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 116|get_qn_title }}</label>
                    <p class="small">
                        {{ 116|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Hotline, advocacy for EBS and use of hotline</label><br/>
                    <!--question type-->
                    <input id="answer" name="answer[]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Trained hotline team</label><br/>
                    <!--question type-->
                    <input id="answer" name="answer[]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Media scanning</label><br/>
                    <!--question type-->
                    <input id="answer" name="answer[]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Registration of signals</label><br/>
                    <!--question type-->
                    <input id="answer" name="answer[]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Verification process, risk assessment</label><br/>
                    <!--question type-->
                    <input id="answer" name="answer[]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Meeting facilities</label><br/>
                    <!--question type-->
                    <input id="answer" name="answer[]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

        </div>
        <!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 117|get_qn_title }}</label>
                    <p class="small">
                        {{ 117|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Are there SOPs available for the processes of signal detection, reporting, triage, verification and risk assessment for EBS. Attach if available.</label><br/>
                    <!--question type-->
                    <input id="answer" name="answer[]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-6">
                <div class="form-group">
                    <label>Attachments </label>
                    <!--./float-right-->
                    <input type="file" name="attachments[]" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 118|get_qn_title }}</label>
                    <p class="small">
                        {{ 118|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Comment on availability of HEBS Focal Points in all EBS implementing facilities? </label>
                    <!--./float-right-->
                    <textarea rows="4" cols="40" name="answer[]"
                                                    class="textarea form-control" id="answer"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Are SOPs for reporting signals in place?</label><br/>
                    <!--question type-->
                    <input id="answer" name="answer[]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 119|get_qn_title }}</label>
                    <p class="small">
                        {{ 119|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Provide info on availability of community health volunteers and their training on EBS; </label>
                    <!--./float-right-->
                    <textarea rows="4" cols="40" name="answer[]"
                                                    class="textarea form-control" id="answer"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label> are there SOPs for detection and reporting of signals? </label><br/>
                    <!--question type-->
                    <input id="answer" name="answer[]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 120|get_qn_title }}</label>
                    <p class="small">
                        {{ 120|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer[120]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[120]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks[120]" class="form-control" placeholder="Write remarks..."
                        id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-6">
                <div class="form-group">
                    <label>Attachments </label>
                    <!--./float-right-->
                    <input type="file" name="attachments[120]" class="form-control" multiple />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 121|get_qn_title }}</label>
                    <p class="small">
                        {{ 121|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer[121]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[121]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-6">
                <div class="form-group">
                    <label>Attachments </label>
                    <!--./float-right-->
                    <input type="file" name="attachments[121]" class="form-control" multiple />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 122|get_qn_title }}</label>
                    <p class="small">
                        {{ 122|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer[122]" type="checkbox" class="" value="Community" />
                    <label for="answer" class="">&nbsp;Community</label>
                    <br />
                    <input id="answer" name="answer[122]" type="checkbox" class="" value="Health facility" />
                    <label for="answer" class="">&nbsp;Health facility</label>
                    <br />
                    <input id="answer" name="answer[122]" type="checkbox" class="" value="Intermediate" />
                    <label for="answer" class="">&nbsp;Intermediate</label>
                    <br />
                    <input id="answer" name="answer[122]" type="checkbox" class="" value="National levels" />
                    <label for="answer" class="">&nbsp;National levels</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <label>Remarks </label>
                    <textarea rows="3" cols="40" name="remarks[]" class="textarea form-control" id="remarks"></textarea>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 123|get_qn_title }}</label>
                    <p class="small">
                        {{ 123|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Community Levels</label>
                    <textarea rows="3" cols="40" name="answer" class="textarea form-control" id="answer"></textarea>
                </div>
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Health facility Levels</label>
                    <textarea rows="3" cols="40" name="answer" class="textarea form-control" id="answer"></textarea>
                </div>
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Intermediate Levels</label>
                    <textarea rows="3" cols="40" name="answer" class="textarea form-control" id="answer"></textarea>
                </div>
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>National Levels</label>
                    <textarea rows="3" cols="40" name="answer" class="textarea form-control" id="answer"></textarea>
                </div>
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 124|get_qn_title }}</label>
                    <p class="small">
                        {{ 124|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer[124]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[124]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks[124]" class="form-control" placeholder="Write remarks..."
                        id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 125|get_qn_title }}</label>
                    <p class="small">
                        {{ 125|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <textarea rows="3" cols="40" name="answer[125]" class="form-control" placeholder="Write answer..."
                        id="answer"></textarea>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 126|get_qn_title }}</label>
                    <p class="small">
                        {{ 126|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer[126]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[126]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks[126]" class="form-control" placeholder="Write remarks..."
                        id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 127|get_qn_title }}</label>
                    <p class="small">
                        {{ 127|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer[127]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[127]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks[127]" class="form-control" placeholder="Write remarks..."
                        id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 128|get_qn_title }}</label>
                    <p class="small">
                        {{ 128|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer[128]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[128]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks[128]" class="form-control" placeholder="Write remarks..."
                        id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 129|get_qn_title }}</label>
                    <p class="small">
                        {{ 129|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 130|get_qn_title }}</label><br />
                    <!--question type-->
                    <input id="answer" name="answer[130]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[130]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 131|get_qn_title }}</label><br />
                    <!--question type-->
                    <input id="answer" name="answer[131]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[131]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 132|get_qn_title }}</label><br />
                    <!--question type-->
                    <input id="answer" name="answer[132]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[132]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 133|get_qn_title }}</label><br />
                    <!--question type-->
                    <input id="answer" name="answer[133]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[133]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 134|get_qn_title }}</label><br />
                    <!--question type-->
                    <input id="answer" name="answer[134]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[134]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 135|get_qn_title }}</label>
                    <p class="small">
                        {{ 135|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer[135]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[135]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->

    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 136|get_qn_title }}</label>
                    <p class="small">
                        {{ 136|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer[136]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[136]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->

    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 137|get_qn_title }}</label>
                    <p class="small">
                        {{ 137|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer[137]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[137]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks[137]" class="form-control" placeholder="Write remarks..."
                        id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->

    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 138|get_qn_title }}</label>
                    <p class="small">
                        {{ 138|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <textarea rows="4" cols="40" name="answer[138]" class="textarea form-control"
                        id="answer"></textarea>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->

    <!--./buttons -->
    <input type="" name="post_exit" class="action-button-previous" value="Save and Exit" />
    <input type="button" name="post_next" class="next action-button" value="Save and Continue" />
</fieldset>