{% extends 'frontend/base.html' %}
{% load static %}
{% load ebs_tags %}
{% block title %} EBS - Section One {% endblock %}

{% block content %}
<!-- Page content -->
<div class="page-content bg-grey">
    <div class="container">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                <form id="msform" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset>
                        <div class="card-h1">
                            <div class="col-md-12">
                                <h5 class="font-weight-600">
                                    Information gathering, epidemic intelligence and reporting
                                </h5>
                                <span>Section 5 of 6</span>
                            </div>
                            <!--./col-->
                        </div>
                        <!--./row-->

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <h6 class="font-weight-600">Information gathering and reporting </h6>
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 166|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 166|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[166]" type="radio" class="" value="YES" {% if 166|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[166]" type="radio" class="" value="NO" {% if 166|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[166]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 166|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 167|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 167|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[167]" type="radio" class="" value="YES" {% if 167|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[167]" type="radio" class="" value="NO" {% if 167|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[167]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 167|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 168|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 168|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[168]" type="radio" class="" value="YES" {% if 168|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[168]" type="radio" class="" value="NO" {% if 168|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[168]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 168|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Attachments </label>
                                        <!--./float-right-->
                                        <input type="file" name="attachments[168]" class="form-control" multiple />
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 169|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 169|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[169]" type="radio" class="" value="YES" {% if 169|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[169]" type="radio" class="" value="NO" {% if 169|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[169]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 169|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 170|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 170|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[170]" type="radio" class="" value="YES" {% if 170|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[170]" type="radio" class="" value="NO" {% if 170|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[170]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 170|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 171|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 171|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[171]" type="radio" class="" value="YES" {% if 171|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[171]" type="radio" class="" value="NO" {% if 171|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[171]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 171|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 172|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 172|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[172]" type="radio" class="" value="YES" {% if 172|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[172]" type="radio" class="" value="NO" {% if 172|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[172]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 172|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 173|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 173|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <textarea rows="3" cols="40" name="answer[173]" class="form-control"
                                            placeholder="Write answer..." id="answer">{{ 173|get_qn_answer }}</textarea>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 174|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 174|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <textarea rows="3" cols="40" name="answer[174]" class="form-control"
                                            placeholder="Write answer..." id="answer">{{ 174|get_qn_answer }}</textarea>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <h6 class="font-weight-600">Epidemic intelligence and feedback </h6>
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 175|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 175|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[175]" type="radio" class="" value="YES" {% if 175|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[175]" type="radio" class="" value="NO" {% if 175|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[175]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 175|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 176|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 176|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[176]" type="radio" class="" value="YES" {% if 176|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[176]" type="radio" class="" value="NO" {% if 176|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[176]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 176|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 177|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 177|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <textarea rows="3" cols="40" name="answer[177]" class="textarea form-control"
                                            id="answer">{{ 177|get_qn_answer }}</textarea>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 178|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 178|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[178]" type="radio" class="" value="YES" {% if 178|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[178]" type="radio" class="" value="NO" {% if 178|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[178]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 178|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 179|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 179|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[179]" type="radio" class="" value="YES" {% if 179|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[179]" type="radio" class="" value="NO"{% if 179|get_qn_answer == "NO" %} checked {% endif %}  />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[179]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 179|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 180|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 180|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[180]" type="radio" class="" value="YES" {% if 180|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[180]" type="radio" class="" value="NO" {% if 180|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[180]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 180|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 181|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 181|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[181]" type="radio" class="" value="YES" {% if 181|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[181]" type="radio" class="" value="NO" {% if 181|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[181]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 181|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Attachments </label>
                                        <!--./float-right-->
                                        <input type="file" name="attachments[181]" class="form-control" multiple />
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 182|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 182|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[182]" type="radio" class="" value="YES" {% if 182|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[182]" type="radio" class="" value="NO" {% if 182|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[182]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 182|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 183|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 183|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 184|get_qn_title }}</label>
                                        <input type="number" name="answer[184]" value="{{ 184|get_qn_answer }}" id="answer" class="form-control" placeholder="Write answer..." />
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 185|get_qn_title }}</label>
                                        <input type="number" name="answer[185]" value="{{ 185|get_qn_answer }}" id="answer" class="form-control" placeholder="Write answer..." />
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 186|get_qn_title }}</label>
                                        <input type="number" name="answer[186]" value="{{ 186|get_qn_answer }}" id="answer" class="form-control" placeholder="Write answer..." />
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 187|get_qn_title }}</label>
                                        <input type="number" name="answer[187]" value="{{ 187|get_qn_answer }}" id="answer" class="form-control" placeholder="Write answer..." />
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 188|get_qn_title }}</label>
                                        <input type="number" name="answer[188]" value="{{ 188|get_qn_answer }}" id="answer" class="form-control" placeholder="Write answer..." />
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 189|get_qn_title }}</label><br/>
                                        <!--question type-->
                                        <input id="answer" name="answer[189]" type="radio" class="" value="YES" {% if 189|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[189]" type="radio" class="" value="NO" {% if 189|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 190|get_qn_title }}</label>
                                        <input type="number" name="answer[190]" value="{{ 190|get_qn_answer }}" id="answer" class="form-control" placeholder="Write answer..." />
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 191|get_qn_title }}</label>
                                        <input type="number" name="answer[191]" value="{{ 191|get_qn_answer }}" id="answer" class="form-control" placeholder="Write answer..." />
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 192|get_qn_title }}</label>
                                        <input type="number" name="answer[192]" value="{{ 192|get_qn_answer }}" id="answer" class="form-control" placeholder="Write answer..." />
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 193|get_qn_title }}</label>
                                        <input type="number" name="answer[193]" value="{{ 193|get_qn_answer }}" id="answer" class="form-control" placeholder="Write answer..." />
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 194|get_qn_title }}</label><br />
                                        <!--question type-->
                                        <input id="answer" name="answer[194]" type="radio" class="" value="YES" {% if 194|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[194]" type="radio" class="" value="NO" {% if 194|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 195|get_qn_title }}</label>
                                        <input type="number" name="answer[195]" value="{{ 195|get_qn_answer }}" id="answer" class="form-control" placeholder="Write answer..." />
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 196|get_qn_title }}</label>
                                        <!--question type-->
                                        <input id="answer" name="answer[196]" type="radio" class="" value="YES" {% if 196|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[196]" type="radio" class="" value="NO" {% if 196|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--./buttons -->
                        <a href="/section_four" class="btn btn-danger btn-sm"><i class="fa fa-angle-left"></i> Previous</a>
                        <input type="submit" name="post_exit" class="btn btn-secondary btn-sm" value="Save and Exit" />
                        <input type="submit" name="post_next" class="btn btn-primary btn-sm" value="Save and Continue" />
                    </fieldset>
                </form>

            </div><!-- /content area -->
        </div><!-- /main content -->
    </div>
    <!--./container-->
</div><!-- /page content -->

{% endblock %}