<fieldset>
    <div class="row">
        <div class="col-md-12">
            <h5 class="font-weight-600 text-center">
                Resources
            </h5>
        </div>
        <!--./col-->
    </div>
    <!--./row-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>4.1. Is there an annual budget for the National Institute of Public Health/Country to discharge its functions?</label>
                    <p class="small">
                        Where the NHPI is not existent, is there a budget for that organ that coordinated EBS activities? Show evidence of the financial allocations  
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-6">
                <div class="form-group">
                    <label>Attachments </label>
                    <!--./float-right-->
                    <input type="file" name="attachments" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>4.2. Who are the financiers of the NPHI/Country Public Health functions (surveillance, preparedness and response etc)?</label>
                    <p class="small">
                        Indicate the funding level - proportion of the total budget for EBS. Find status for at least the current and last financial years. Are there plans /promises for other funding sources.
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>4.3. Is there a dedicated line item to implement EBS in the country budget?</label>
                    <p class="small">
                        What is the situation in the national and local governments where services and authority have been de-centralized 
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>4.4. Have the following resources been put in place to facilitate the implementation of EBS (this could be part of the ongoing surveillance planning) </label>
                    <p class="small">
                        What is the status by level (national, intermediate, health facility and community)
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>4.5.  Has there been support obtained from the RCC to facilitate EBS roll out in the country</label>
                    <p class="small">
                        State if there is any arrangement in pipeline, and if assistance may have covered other parts of the country and not others.
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>4.6. Are there training physical facilities at the National Institute of Public Health that are available for training surveillance teams including EBS teams?</label>
                    <p class="small">
                        If not what are the alternative systems for training in place
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>4.7. Are there virtual training facilities at the NPHI and other levels of service delivery, video conference facilities, eLearning Platforms and other virtual platforms</label>
                    <p class="small">
                        Indicate the training resources available at national level. Indicate arrangements for training at lower levels in the country.
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>4.8. Are the funding needs for EBS roll out met for the current year? </label>
                    <p class="small">
                        Is there any support expected, but still in pipeline? What is the source?
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>4.8. If not what is the financial gap? </label>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <textarea rows="4" cols="40" name="answer" class="textarea form-control"
                                                    id="answer"></textarea>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>4.10. What are the areas/or components of EBS that are left uncovered or under funded?</label>
                    <p class="small">
                        Indicate the areas in the plan that are unfunded/underfunded. Find out the situation at national and lower levels
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <textarea rows="4" cols="40" name="answer" class="textarea form-control"
                                                    id="answer"></textarea>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>4.11. Is there a resource mobilization strategy to finance EBS activities?</label>
                    <p class="small">
                        Both for national and lower levels
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <textarea rows="4" cols="40" name="answer" class="textarea form-control"
                                                    id="answer"></textarea>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->

    <!--./buttons -->
    <input type="" name="post_exit" class="action-button-previous" value="Save and Exit" />
    <input type="button" name="post_next" class="next action-button"
        value="Save and Continue" />
</fieldset>