<fieldset>
    <div class="row">
        <div class="col-md-12">
            <h5 class="font-weight-600 text-center">
                Information gathering, epidemic intelligence and reporting
            </h5>
        </div>
        <!--./col-->
    </div>
    <!--./row-->

    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label></label>
                    <p class="small">
                        
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label></label>
                    <p class="small">
                        
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->

    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label></label>
                    <p class="small">
                        
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->

    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label></label>
                    <p class="small">
                        
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->

    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label></label>
                    <p class="small">
                        
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->

    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label></label>
                    <p class="small">
                        
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label></label>
                    <p class="small">
                        
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label></label>
                    <p class="small">
                        
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label></label>
                    <p class="small">
                        
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->

    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label></label>
                    <p class="small">
                        
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label></label>
                    <p class="small">
                        
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label></label>
                    <p class="small">
                        
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label></label>
                    <p class="small">
                        
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->

    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label></label>
                    <p class="small">
                        
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label></label>
                    <p class="small">
                        
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label></label>
                    <p class="small">
                        
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label></label>
                    <p class="small">
                        
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label></label>
                    <p class="small">
                        
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->



    <!--./buttons -->
    <input type="" name="post_exit" class="action-button-previous" value="Save and Exit" />
    <input type="button" name="post_next" class="next action-button"
        value="Save and Continue" />
</fieldset>