<fieldset>
    <div class="row">
        <div class="col-md-12">
            <h5 class="font-weight-600 text-center">
                General issues
            </h5>
        </div>
        <!--./col-->
    </div>
    <!--./row-->

    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>6.1. Which areas would you like to be supported to effectively roll out the implementation of the EBS in the Country?</label>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Development of EBS strategy</label><br/>
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div><!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Development of roll out plan</label><br/>
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div><!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Training of TOTs for front-line health workers</label><br/>
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div><!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Step-down training</label><br/>
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div><!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Community level training</label><br/>
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div><!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Development of signals and priority events </label><br/>
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div><!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Others (list)</label><br/>
                    <!--question type-->
                    <textarea rows="4" cols="40" name="answer" class="textarea form-control"
                    id="answer"></textarea>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div><!--./row-->

    </div>
    <!--./form-card-->



    <!--./buttons -->
    <input type="" name="post_exit" class="action-button-previous" value="Save and Exit" />
    <input type="button" name="post_next" class="next action-button"
        value="Save and Continue" />
</fieldset>