{% extends 'frontend/base.html' %}
{% load static %}
{% load ebs_tags %}
{% block title %} EBS - Section One {% endblock %}

{% block content %}
<!-- Page content -->
<div class="page-content bg-grey">
    <div class="container">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                <form id="msform" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <fieldset>
                        <div class="form-card card-h1">
                            <div class="col-md-12">
                                <h5 class="font-weight-600 text-center">
                                    General issues
                                </h5>
                            </div>
                            <!--./col-->
                        </div>
                        <!--./row-->

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 197|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 197|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 198|get_qn_title }}</label><br />
                                        <!--question type-->
                                        <input id="answer" name="answer[198]" type="radio" class="" value="YES" {% if 198|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[198]" type="radio" class="" value="NO" {% if 198|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 199|get_qn_title }}</label><br />
                                        <!--question type-->
                                        <input id="answer" name="answer[199]" type="radio" class="" value="YES" {% if 199|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[199]" type="radio" class="" value="NO" {% if 199|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 200|get_qn_title }}</label><br />
                                        <!--question type-->
                                        <input id="answer" name="answer[200]" type="radio" class="" value="YES" {% if 200|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[200]" type="radio" class="" value="NO" {% if 200|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 201|get_qn_title }}</label><br />
                                        <!--question type-->
                                        <input id="answer" name="answer[201]" type="radio" class="" value="YES" {% if 201|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[201]" type="radio" class="" value="NO" {% if 201|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 202|get_qn_title }}</label><br />
                                        <!--question type-->
                                        <input id="answer" name="answer[202]" type="radio" class="" value="YES" {% if 202|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[202]" type="radio" class="" value="NO" {% if 202|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 203|get_qn_title }} </label><br />
                                        <!--question type-->
                                        <input id="answer" name="answer[203]" type="radio" class="" value="YES" {% if 203|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[203]" type="radio" class="" value="NO" {% if 203|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 204|get_qn_title }}</label><br />
                                        <!--question type-->
                                        <textarea rows="4" cols="40" name="answer[204]" class="textarea form-control"
                                            id="answer">{{ 204|get_qn_answer }}</textarea>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--./buttons -->
                        <input type="submit" name="post_exit" class="action-button-previous" value="Save and Exit" />
                        <input type="submit" name="post_next" class="action-button" value="Save and Complete" />
                    </fieldset>
                </form>

            </div><!-- /content area -->
        </div><!-- /main content -->
    </div>
    <!--./container-->
</div><!-- /page content -->

{% endblock %}