{% extends 'frontend/base.html' %}
{% load static %}
{% load ebs_tags %}
{% block title %} EBS - Section 2 {% endblock %}

{% block content %}
<!-- Page content -->
<div class="page-content bg-grey">
    <div class="container">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                <form id="msform" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <fieldset>
                        <div class="card-h1">
                            <div class="col-md-12">
                                <h5 class="font-weight-600">
                                    Staffing capacity and training
                                </h5>
                                <span>Section 2 of 6</span>
                            </div>
                            <!--./col-->
                        </div>
                        <!--./row-->

                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 82|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 82|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[82]" type="radio" class="" value="YES" {% if 82|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[82]" type="radio" class="" value="NO" {% if 82|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[82]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 82|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 83|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 83|get_qn_hint }}
                                        </p>

                                        <p class="small">
                                            {{ 84|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table">
                                        <tr>
                                            <td width="40%"></td>
                                            <td width="12%">PhD</td>
                                            <td width="12%">Masters</td>
                                            <td width="12%">Degree</td>
                                            <td width="12%">Diploma</td>
                                            <td width="12%">Certification</td>
                                        </tr>

                                        <tr>
                                            <td>{{ 84|get_qn_title }}</td>
                                            <td><input type="number" name="answer[205]" id="answer" value="{{ 205|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[206]" id="answer" value="{{ 206|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[207]" id="answer" value="{{ 207|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[208]" id="answer" value="{{ 208|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[209]" id="answer" value="{{ 209|get_qn_answer }}" class="form-control" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>{{ 85|get_qn_title }}</td>
                                            <td><input type="number" name="answer[210]" id="answer" value="{{ 210|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[211]" id="answer" value="{{ 211|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[212]" id="answer" value="{{ 212|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[213]" id="answer" value="{{ 213|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[214]" id="answer" value="{{ 214|get_qn_answer }}" class="form-control" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>{{ 86|get_qn_title }}</td>
                                            <td><input type="number" name="answer[215]" id="answer" value="{{ 215|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[216]" id="answer" value="{{ 216|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[217]" id="answer" value="{{ 217|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[218]" id="answer" value="{{ 218|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[219]" id="answer" value="{{ 219|get_qn_answer }}" class="form-control" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>{{ 87|get_qn_title }}</td>
                                            <td><input type="number" name="answer[220]" id="answer" value="{{ 220|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[221]" id="answer" value="{{ 221|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[222]" id="answer" value="{{ 222|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[223]" id="answer" value="{{ 223|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[224]" id="answer" value="{{ 224|get_qn_answer }}" class="form-control" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>{{ 88|get_qn_title }}</td>
                                            <td><input type="number" name="answer[225]" id="answer" value="{{ 225|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[226]" id="answer" value="{{ 226|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[227]" id="answer" value="{{ 227|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[228]" id="answer" value="{{ 228|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[229]" id="answer" value="{{ 229|get_qn_answer }}" class="form-control" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>{{ 89|get_qn_title }}</td>
                                            <td><input type="number" name="answer[230]" id="answer" value="{{ 230|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[231]" id="answer" value="{{ 231|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[232]" id="answer" value="{{ 232|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[233]" id="answer" value="{{ 233|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[234]" id="answer" value="{{ 234|get_qn_answer }}" class="form-control" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>{{ 90|get_qn_title }}</td>
                                            <td><input type="number" name="answer[235]" id="answer" value="{{ 235|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[236]" id="answer" value="{{ 236|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[237]" id="answer" value="{{ 237|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[238]" id="answer" value="{{ 238|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[239]" id="answer" value="{{ 239|get_qn_answer }}" class="form-control" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>{{ 91|get_qn_title }}</td>
                                            <td><input type="number" name="answer[240]" id="answer" value="{{ 240|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[241]" id="answer" value="{{ 241|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[242]" id="answer" value="{{ 242|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[243]" id="answer" value="{{ 243|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[244]" id="answer" value="{{ 244|get_qn_answer }}" class="form-control" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>{{ 92|get_qn_title }}</td>
                                            <td><input type="number" name="answer[245]" id="answer" value="{{ 245|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[246]" id="answer" value="{{ 246|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[247]" id="answer" value="{{ 247|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[248]" id="answer" value="{{ 248|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[249]" id="answer" value="{{ 249|get_qn_answer }}" class="form-control" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 93|get_qn_title }}</label><br />
                                        <!--question type-->
                                        <textarea rows="4" cols="40" name="answer[93]" class="textarea form-control"
                                            id="answer">{{ 93|get_qn_answer }}</textarea>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 94|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 94|get_qn_hint }}
                                        </p>

                                        <p class="small">
                                            {{ 95|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table">
                                        <tr>
                                            <td width="40%"></td>
                                            <td width="12%">PhD</td>
                                            <td width="12%">Masters</td>
                                            <td width="12%">Degree</td>
                                            <td width="12%">Diploma</td>
                                            <td width="12%">Certification</td>
                                        </tr>

                                        <tr>
                                            <td>{{ 95|get_qn_title }}</td>
                                            <td><input type="number" name="answer[250]" id="answer" value="{{ 250|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[251]" id="answer" value="{{ 251|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[252]" id="answer" value="{{ 252|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[253]" id="answer" value="{{ 253|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[254]" id="answer" value="{{ 254|get_qn_answer }}" class="form-control" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>{{ 96|get_qn_title }}</td>
                                            <td><input type="number" name="answer[255]" id="answer" value="{{ 255|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[256]" id="answer" value="{{ 256|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[257]" id="answer" value="{{ 257|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[258]" id="answer" value="{{ 258|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[259]" id="answer" value="{{ 259|get_qn_answer }}" class="form-control" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>{{ 97|get_qn_title }}</td>
                                            <td><input type="number" name="answer[260]" id="answer" value="{{ 260|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[261]" id="answer" value="{{ 261|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[262]" id="answer" value="{{ 262|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[263]" id="answer" value="{{ 263|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[264]" id="answer" value="{{ 264|get_qn_answer }}" class="form-control" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>{{ 98|get_qn_title }}</td>
                                            <td><input type="number" name="answer[265]" id="answer" value="{{ 265|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[266]" id="answer" value="{{ 266|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[267]" id="answer" value="{{ 267|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[268]" id="answer" value="{{ 268|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[269]" id="answer" value="{{ 269|get_qn_answer }}" class="form-control" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>{{ 99|get_qn_title }}</td>
                                            <td><input type="number" name="answer[270]" id="answer" value="{{ 270|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[271]" id="answer" value="{{ 271|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[272]" id="answer" value="{{ 272|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[273]" id="answer" value="{{ 273|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[274]" id="answer" value="{{ 274|get_qn_answer }}" class="form-control" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>{{ 100|get_qn_title }}</td>
                                            <td><input type="number" name="answer[275]" id="answer" value="{{ 275|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[276]" id="answer" value="{{ 276|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[277]" id="answer" value="{{ 277|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[278]" id="answer" value="{{ 278|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="number" name="answer[279]" id="answer" value="{{ 279|get_qn_answer }}" class="form-control" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 101|get_qn_title }}</label><br />
                                        <!--question type-->
                                        <textarea rows="4" cols="40" name="answer[101]" class="textarea form-control"
                                            id="answer">{{ 101|get_qn_answer }}</textarea>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 102|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 102|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input type="text" name="answer[102]" id="answer" class="form-control"  value="{{ 102|get_qn_answer }}"/>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[102]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 102|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 103|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 103|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[103]" type="radio" class="" value="YES" {% if 103|get_qn_answer == "YES" %} checked {% endif %}/>
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[103]" type="radio" class="" value="NO" {% if 103|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[103]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 103|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 104|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 104|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[104]" type="radio" class="" value="YES" {% if 104|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[104]" type="radio" class="" value="NO" {% if 104|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[104]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 104|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Attachments </label>
                                        <!--./float-right-->
                                        <input type="file" name="attachments[104]" class="form-control" multiple />
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 105|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 105|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[105]" type="radio" class="" value="YES" {% if 105|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[105]" type="radio" class="" value="NO" {% if 105|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[105]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 105|get_qn_remarks}}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->


                        <!--start-->
                        <div class="form-card" style="display: none;" id="qn_106">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 106|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 106|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <textarea rows="3" cols="40" name="answer[106]" class="form-control"
                                            placeholder="Write answer..." id="answer">{{ 106|get_qn_answer }}</textarea>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 107|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 107|get_qn_hint }}
                                        </p>

                                        <p class="small">
                                            {{ 108|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table">
                                        <tr>
                                            <td width="40%"></td>
                                            <td width="12%">Number</td>
                                            <td width="25%">Location in country</td>
                                            <td width="25%">Level of care serving</td>
                                        </tr>

                                        <tr>
                                            <td>{{ 108|get_qn_title }}</td>
                                            <td><input type="text" name="answer[280]" id="answer" value="{{ 280|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="text" name="answer[281]" id="answer" value="{{ 281|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="text" name="answer[282]" id="answer" value="{{ 282|get_qn_answer }}" class="form-control" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>{{ 109|get_qn_title }}</td>
                                            <td><input type="text" name="answer[283]" id="answer" value="{{ 283|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="text" name="answer[284]" id="answer" value="{{ 284|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="text" name="answer[285]" id="answer" value="{{ 285|get_qn_answer }}" class="form-control" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>{{ 110|get_qn_title }}</td>
                                            <td><input type="text" name="answer[286]" id="answer" value="{{ 286|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="text" name="answer[287]" id="answer" value="{{ 287|get_qn_answer }}" class="form-control" />
                                            </td>
                                            <td><input type="text" name="answer[288]" id="answer" value="{{ 288|get_qn_answer }}" class="form-control" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->



                        </div>
                        <!--./form-card-->

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 111|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 111|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <input id="answer" name="answer[111]" type="radio" class="" value="YES" {% if 111|get_qn_answer == "YES" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;Yes</label>
                                        <br />
                                        <input id="answer" name="answer[111]" type="radio" class="" value="NO" {% if 111|get_qn_answer == "NO" %} checked {% endif %} />
                                        <label for="answer" class="">&nbsp;No</label>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks </label>
                                        <!--./float-right-->
                                        <textarea rows="3" cols="40" name="remarks[111]" class="form-control"
                                            placeholder="Write remarks..." id="remarks">{{ 111|get_qn_remarks }}</textarea>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--start-->
                        <div class="form-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 112|get_qn_title }}</label>
                                        <p class="small">
                                            {{ 112|get_qn_hint }}
                                        </p>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--question type-->
                                        <textarea rows="4" cols="40" name="answer[112]" class="textarea form-control"
                                            id="answer" placeholder="Write answer...">{{ 112|get_qn_answer }}</textarea>
                                        <!--./question type-->
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./col-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./form-card-->

                        <!--./buttons -->
                        <input type="submit" name="post_exit" class="action-button-previous" value="Save and Exit" />
                        <input type="submit" name="post_next" class="action-button" value="Save and Continue" />
                    </fieldset>
                </form>

            </div><!-- /content area -->
        </div><!-- /main content -->
    </div>
    <!--./container-->
</div><!-- /page content -->

{% endblock %}