<fieldset>
    <div class="row">
        <div class="col-md-12">
            <h5 class="font-weight-600 text-center">
                Staffing capacity and training
            </h5>
        </div>
        <!--./col-->
    </div>
    <!--./row-->

    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.1.
                        Is there a National Public Health institute (NPHI) or a
                        unit/department serving the functions of NPHI?</label>
                    <p class="small"></p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control" placeholder="Write remarks..."
                        id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.2.
                        What is the level of staffing/number of staff at the NPHI?</label>
                    <p class="small">
                        Number under each category
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.2.1.
                        Director</label>
                    <p class="small">
                        This refers to head of NPHI. Could be known by other title.
                        Indicate.
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>PhD</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Masters</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Bachelor Degree</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Diploma</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Certificate</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.2.2. Epidemiologists</label>
                    <p class="small">
                        Numbers of staff in the category and highest qualification
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>PhD</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Masters</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Bachelor Degree</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Diploma</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Certificate</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.2.3.
                        Laboratory experts</label>
                    <p class="small">
                        Numbers of staff in the category and highest qualification
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>PhD</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Masters</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Bachelor Degree</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Diploma</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Certificate</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.2.4.
                        Public Health Experts</label>
                    <p class="small">
                        Numbers of staff in the category and highest qualification
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>PhD</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Masters</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Bachelor Degree</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Diploma</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Certificate</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.2.5.
                        Data Analysts</label>
                    <p class="small">
                        Numbers of staff in the category and highest qualification
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>PhD</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Masters</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Bachelor Degree</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Diploma</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Certificate</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.2.7.
                        Environmental health officers</label>
                    <p class="small">
                        Numbers of staff in the category and highest qualification
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>PhD</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Masters</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Bachelor Degree</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Diploma</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Certificate</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.2.8.
                        Research Scientists</label>
                    <p class="small">
                        Numbers of staff in the category and highest qualification
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>PhD</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Masters</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Bachelor Degree</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Diploma</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Certificate</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.2.9.
                        Animal health specialists </label>
                    <p class="small">
                        Numbers of staff in the category and highest qualification
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>PhD</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Masters</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Bachelor Degree</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Diploma</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Certificate</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.2.10.
                        Risk communication officer</label>
                    <p class="small">
                        Numbers of staff in the category and highest qualification
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>PhD</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Masters</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Bachelor Degree</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Diploma</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Certificate</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.2.11.
                        Other staffing (specify)</label>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.3.
                        What type of existing workforce are available to support the EBS roll out and conduct
                        surveillance at various levels of service delivery? </label>
                    <p class="small">
                        Where possible indicate what the guidelines prescribe and what is in place in terms of cadres,
                        and highest qualifications of occupants at national, intermediate, health facility and community
                        levels. Provide information and evidence of differences, if any, in deployment by geographical
                        locations of the country
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.3.1.
                        Medical doctors</label>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>PhD</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Masters</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Bachelor Degree</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Diploma</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Certificate</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.3.2. Nurses</label>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>PhD</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Masters</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Bachelor Degree</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Diploma</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Certificate</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.3.3.
                        Public health officers</label>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>PhD</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Masters</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Bachelor Degree</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Diploma</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Certificate</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.2.4.
                        Epidemiologists</label>

                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>PhD</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Masters</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Bachelor Degree</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Diploma</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Certificate</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.3.5.
                        Laboratory technologists</label>
                    <p class="small">
                        Numbers of staff in the category and highest qualification
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>PhD</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Masters</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Bachelor Degree</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Diploma</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Certificate</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.3.6.
                        Animal health specialists </label>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>PhD</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Masters</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Bachelor Degree</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Diploma</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-4">
                <div class="form-group">
                    <label>Certificate</label>
                    <input type="number" name="dir_phd" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.3.7.
                        Other cadres (specify) </label>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->

    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.4.
                        How many staff at NPHI are trained to implement or roll out the EBS in the country</label>
                    <p class="small">
                        Indicate the specialized training for rolling out EBS they have received. Provide numbers and
                        the training
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input type="number" name="answer" id="answer" class="form-control" />
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control" placeholder="Write remarks..."
                        id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->

    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.5.
                        Are there EBS focal points/persons identified at various levels of health care? </label>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control" placeholder="Write remarks..."
                        id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->

    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.6.
                        Is there a training curriculum and plan for EBS in place?</label>
                    <p class="small">
                        Indicate the availability of curriculum and training plan for country-wide coverage. The plan
                        should have stated activities and timelines. Attach if available.
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control" placeholder="Write remarks..."
                        id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-6">
                <div class="form-group">
                    <label>Attachments </label>
                    <!--./float-right-->
                    <input type="file" name="attachments" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->



    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.7.
                        Has the country adopted and rolled out integregated disease surveilance and response (IDSR) strategy? If NO to 2.7, skip to question 2.9</label>
                    <p class="small">
                        Indicate the version of the strategy currently under implementation/in the process of roll out in the country. 
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                                                <label for="answer" class="">&nbsp;Yes</label>
                                                <br />
                                                <input id="answer" name="answer" type="radio" class="" value="NO" />
                                                <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control" placeholder="Write remarks..."
                        id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.8.
                        If rolled out, what is the national coverage of DSR roll out?  </label>
                    <p class="small">
                        Indicate the levels and numbers of workers trained and the total that are not covered yet (to show the existing gap). Provide geographic reach of IDRS in the country.
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <textarea rows="3" cols="40" name="answer" class="form-control" placeholder="Write answer..."
                        id="answer"></textarea>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->

    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.9.
                        Has the country conducted any form of training on EBS?</label>
                    <p class="small">
                        This is to show the levels where the training has occurred and whether the trainees have been retained
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input type="number" name="answer" id="answer" class="form-control" />
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control" placeholder="Write remarks..."
                        id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->

    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.10.
                        Are there nominated rapid response teams (RRT) in various regions/districts/counties?</label>
                    <p class="small">
                        To show whetehr Rapid Response Teams are available at national, and intermediate levels
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer" type="radio" class="" value="YES" />
                                                <label for="answer" class="">&nbsp;Yes</label>
                                                <br />
                                                <input id="answer" name="answer" type="radio" class="" value="NO" />
                                                <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12" style="margin-top: -15px;">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks" class="form-control" placeholder="Write remarks..."
                        id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->

    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2.11.
                        What is the level of training currently undertaken on the RRT?</label>
                    <p class="small">
                        Indicate the coverage of RRT-specific training by the various of service delivery levels and location/regions covered
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <textarea rows="4" cols="40" name="answer" class="textarea form-control"
                                                    id="answer"></textarea>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--./buttons -->
    <input type="" name="post_exit" class="action-button-previous" value="Save and Exit" />
    <input type="button" name="post_next" class="next action-button" value="Save and Continue" />
</fieldset>