{% load ebs_tags %}

<fieldset>
    <div class="row">
        <div class="col-md-12">
            <h5 class="font-weight-600 text-center">
                Resources
            </h5>
        </div>
        <!--./col-->
    </div>
    <!--./row-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 139|get_qn_title }}</label>
                    <p class="small">
                        {{ 139|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer[139]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[139]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks[139]" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-6">
                <div class="form-group">
                    <label>Attachments </label>
                    <!--./float-right-->
                    <input type="file" name="attachments[139]" class="form-control" />
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 140|get_qn_title }}</label>
                    <p class="small">
                        {{ 140|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 146|get_qn_title }}</label>
                    <p class="small">
                        {{ 146|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer[146]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[146]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks[146]" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 147|get_qn_title }}</label>
                    <p class="small">
                        {{ 147|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->

    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 156|get_qn_title }}</label>
                    <p class="small">
                        {{ 156|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 160|get_qn_title }}</label>
                    <p class="small">
                        {{ 160|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer[160]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[160]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks[160]" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 161|get_qn_title }}</label>
                    <p class="small">
                        {{ 161|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer[161]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[161]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks[161]" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 162|get_qn_title }}</label>
                    <p class="small">
                        {{ 162|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <input id="answer" name="answer[162]" type="radio" class="" value="YES" />
                    <label for="answer" class="">&nbsp;Yes</label>
                    <br />
                    <input id="answer" name="answer[162]" type="radio" class="" value="NO" />
                    <label for="answer" class="">&nbsp;No</label>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Remarks </label>
                    <!--./float-right-->
                    <textarea rows="3" cols="40" name="remarks[162]" class="form-control"
                        placeholder="Write remarks..." id="remarks"></textarea>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 163|get_qn_title }}</label>
                    <p class="small">
                        {{ 163|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <textarea rows="4" cols="40" name="answer[163]" class="textarea form-control"
                                                    id="answer"></textarea>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 164|get_qn_title }}</label>
                    <p class="small">
                        {{ 164|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <textarea rows="4" cols="40" name="answer[164]" class="textarea form-control"
                                                    id="answer"></textarea>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->


    <!--start-->
    <div class="form-card">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ 165|get_qn_title }}</label>
                    <p class="small">
                        {{ 165|get_qn_hint }}
                    </p>
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--question type-->
                    <textarea rows="4" cols="40" name="answer[165]" class="textarea form-control"
                                                    id="answer"></textarea>
                    <!--./question type-->
                </div>
                <!--./form-group-->
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <!--./form-card-->

    <!--./buttons -->
    <input type="" name="post_exit" class="action-button-previous" value="Save and Exit" />
    <input type="button" name="post_next" class="next action-button"
        value="Save and Continue" />
</fieldset>