{% extends 'base.html' %}
{% load static %}
{% block title %} Events Based Surveillance Situational analysis questionnaire {% endblock %}

{% block content %}
<!-- Page content -->
<div class="page-content bg-white">
    <div class="container">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                <!-- Basic card -->
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title text-uppercase text-center font-weight-bold">

                        </h5>
                    </div>
                    <!--./card-header -->

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                
                            </div>
                            <!--./col-md-12 -->
                        </div>
                        <!--./row -->
                    </div>
                    <!--./card-body -->
                </div><!-- /basic card -->
            </div><!-- /content area -->
        </div><!-- /main content -->
    </div>
    <!--./container-->
</div><!-- /page content -->
{% endblock %}