{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Events Based Surveillance Situational analysis questionnaire">
    <meta name="author" content="Renfrid">
    <title>{% block title %}{% endblock%}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}">

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,100,500,700,900" rel="stylesheet"
        type="text/css">

    <!-- main bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Core JS files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--custom js-->
    <script src="{% static 'js/custom.js' %}"></script>

</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Events Based Surveillance Situational analysis questionnaire</a>
            </div>
            <!--./navbar-header-->
        </div>
        <!--./container-fluid -->
    </nav>
    <!-- /fixed navbar -->

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <a href="/">
                            <img src="{% static 'img/africacdc.png' %}" alt="AfricaCDC" height="80" />
                        </a>
                    </div>
                    <!--./pull-left-->
                </div>
                <!--./col-md-12-->
            </div>
            <!--./row-->
        </div>
        <!--./container-fluid -->
    </div>
    <!-- /page header -->

    {% block content %}{% endblock %}
</body>

</html>