{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Events Based Surveillance Situational analysis questionnaire">
    <meta name="author" content="Renfrid">
    <title>{% block title %}{% endblock%}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}">

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Global stylesheets         -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,100,500,700,900" rel="stylesheet"
        type="text/css">


    <!-- main bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Core JS files -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!--custom js-->
    <script src="{% static 'js/custom.js' %}"></script>

</head>

<body>
    <!-- Fixed navbar -->
   
    <!-- /fixed navbar -->

    <div class="page-header border-bottom  border-dark">
        <div class="container">
            <div class="d-flex flex-row ">
                <div class="p-0 mr-auto">
                    <a href="/">
                        <img src="{% static 'img/africacdc.png' %}" alt="AfricaCDC" height="80" />
                    </a>
                </div>
                <div class="p-4"></div>
                <div class="pt-4">
                    <h5 class="font-weight-600">
                        {% if survey.title is not None %}
                            {{ survey.title }}
                        {% else %}
                            AFRICA CDC
                        {% endif %}
                    </h5>
                </div>
                <!--./col-md-12-->
            </div>
            <!--./row-->
        </div>
        <!--./container-fluid -->
    </div>
    <!-- /page header -->

    <!-- Page content -->
    <div class="page-content bg-grey pt-3">
        <div class="row px-4 mx-5">
            <div class="col-md-8 offset-md-2 col-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>