{% load ebs_tags %}

<div class="mb-3">
    <ul class="nav justify-content-center">
        {% if request.user|has_group:"Reviewers" %} 
        <li class="nav-item">
            <a class="nav-link font-weight-bold" href="/responses/surveys"><i class="fa fa-home"></i> Home</a>
        </li>
        {% elif request.user|has_group:"Respondents" %}
        <li class="nav-item">
            <a class="nav-link font-weight-bold" href="/questionnare"><i class="fa fa-home"></i> Home</a>
        </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-link font-weight-bold" href="/logout"> Logout
            </a>
        </li>
    </ul>
</div>